.Workexperience {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 4em 0 2em 0;
}

.Workexperience-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4 / span 2;
  margin-bottom: 1.5em;
}

.icon {
  position: relative;
  margin-right: 10px;
}

.Workexperience-header {
  font-size: 2rem;
}

.Workcard {
  padding: 1.2em;
  color: white;
  background: rgba(193, 39, 45, 1);
  grid-column: 3 / span 4;
  margin-bottom: 6em;
  transform: scale(1);
  transition: all 200ms ease-in;
}

.Workcard:hover {
  transform: scale(1.05);
}

.Workcard-header {
  color: #000;
}

.Workcard-list {
  list-style-type: disc;
}
