.Contact {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 3em 0 6em 0;
  background: #cce7fe;
}

.Contact-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3 / span 2;
  margin-bottom: 1.5em;
}

.icon {
  position: relative;
  margin-right: 10px;
}

.Contact-header {
  font-size: 2rem;
}

.Contact-form {
  display: grid;
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
}

.Contact-form-input {
  margin-bottom: 1em;
}

.Contact-form-btn {
  justify-self: flex-start;
}
